<!-- Start main body -->
<main>
  {{!-- search area --}}
  <br>
  {{!-- breadcrumb --}}
  <ul class="flex items-center justify-left font-[sans-serif] space-x-4 mt-4 ml-5">
    <li class="text-gray-500 text-base cursor-pointer">
      <a href="/getquizepageforstudent">Courses</a>
    </li>
    <li>
      <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 w-3.5 -rotate-90" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
          d="M11.99997 18.1669a2.38 2.38 0 0 1-1.68266-.69733l-9.52-9.52a2.38 2.38 0 1 1 3.36532-3.36532l7.83734 7.83734 7.83734-7.83734a2.38 2.38 0 1 1 3.36532 3.36532l-9.52 9.52a2.38 2.38 0 0 1-1.68266.69734z"
          clip-rule="evenodd" data-original="#000000"></path>
      </svg>
    </li>
    <li class="text-gray-800 text-base font-bold cursor-pointer">
      <a href="/getassignmentpage"><span class="text-blue-500" id="courseQuizeName"></span> quiz list </a>
    </li>
  </ul>

  {{!-- end --}}
  <br>
  {{!-- button --}}
  {{!-- end button --}}
  {{!-- quiz list area --}}
  {{#each quizzes}}
  {{!-- check if this quiz is allowed to visiable or not --}}
  {{#if (eq this.is_published 1)}}
  <div class="bg-gray-50 px-6 py-5 font-[sans-serif]">
    <div class="grid lg:grid-cols-1 gap-2">
      <div class="space-y-6">
        <div class="bg-white shadow-md rounded-lg transition-all" role="accordion">
          <button type="button"
            class="accordion-button w-full text-lg font-semibold text-left p-6 text-gray-800 flex items-center">
            <span class="mr-4 text-blue-500">{{this.title}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"
              class="w-[14px] h-[14px] fill-current ml-auto shrink-0">
              <path class="plus"
                d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
              <path
                d="M37.059 16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5h32.118C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z" />
            </svg>
          </button>
          <div class="accordion-content overflow-hidden max-h-0 transition-all duration-300 ease-in-out">
            <div class="pb-6 px-6">
              <h3 class="text-blue-500">Total Point: {{this.total_points}}%</h3>
              <h5 class="mt-4">Only Available From: <b>{{this.start_time}}</b> To: <b>{{this.end_time}}</b> </h5>

              <button type="button" onclick="StartQuiz('{{this.quiz_id}}')"
                class="mt-5 px-5 py-2.5 rounded-full text-white text-sm tracking-wider font-medium border border-current outline-none bg-blue-700 hover:bg-blue-800 active:bg-blue-700">Start
                this quiz</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}

  {{!-- end quiz area --}}
  <div id="leftboard" style="padding: 5px"></div>
  <!-- End Body -->
</main>

<!-- Toast messages area -->

<!-- toast success -->
<div id="toast_wrapper" style="display: none;"
  class="fixed inset-0 flex items-center justify-center bg-gray-800/50 z-50">
  <div id="toast_success"
    class="w-[310px] bg-white text-center shadow-lg border-l-4 border-green-500 text-gray-800 flex items-center p-4 rounded-md">
    <svg xmlns="http://www.w3.org/2000/svg" class="spinner-6 w-10 h-10 shrink-0 animate-spin"
      viewBox="0 0 512.004 512.004">
      <path
        d="M256.002 93.869c-89.404 0-162.133 72.73-162.133 162.133s72.73 162.133 162.133 162.133 162.133-72.73 162.133-162.133S345.406 93.869 256.002 93.869zm0 307.2c-79.991 0-145.067-65.075-145.067-145.067s65.075-145.067 145.067-145.067 145.067 65.075 145.067 145.067-65.075 145.067-145.067 145.067z"
        data-original="#000000" />
      <path
        d="M256.002 204.802c-28.237 0-51.2 22.963-51.2 51.2s22.963 51.2 51.2 51.2 51.2-22.963 51.2-51.2-22.963-51.2-51.2-51.2zm0 85.333c-18.825 0-34.133-15.309-34.133-34.133s15.309-34.133 34.133-34.133c18.825 0 34.133 15.309 34.133 34.133s-15.308 34.133-34.133 34.133zm0 179.201c-110.309 0-201.332-84.157-212.237-191.638l9.938 9.938c1.664 1.664 3.849 2.5 6.033 2.5s4.369-.836 6.033-2.5a8.525 8.525 0 0 0 0-12.066l-25.6-25.6a8.813 8.813 0 0 0-.625-.566c-.107-.088-.22-.165-.33-.247-.112-.083-.221-.171-.338-.248-.137-.092-.28-.173-.421-.256-.097-.057-.191-.118-.291-.172-.152-.081-.307-.151-.463-.223-.096-.045-.19-.093-.289-.134-.162-.067-.327-.123-.492-.18-.097-.034-.193-.072-.292-.102a8.602 8.602 0 0 0-.547-.141c-.087-.02-.172-.046-.26-.064a8.26 8.26 0 0 0-.714-.109c-.037-.004-.073-.012-.11-.016a8.592 8.592 0 0 0-1.727 0c-.037.004-.073.012-.11.016a8.602 8.602 0 0 0-.714.109c-.088.018-.173.043-.26.064-.183.043-.366.086-.546.141-.099.03-.195.069-.292.102-.165.057-.33.113-.492.18-.098.041-.191.089-.287.134-.156.072-.312.142-.464.224-.1.053-.194.115-.291.172-.141.083-.283.164-.421.256-.116.077-.224.164-.336.247-.111.083-.224.16-.332.249a8.346 8.346 0 0 0-.624.565l-25.6 25.6a8.525 8.525 0 0 0 0 12.066 8.523 8.523 0 0 0 12.066 0l11.889-11.889C36.507 393.581 135.61 486.402 256.002 486.402c4.71 0 8.533-3.823 8.533-8.533s-3.822-8.533-8.533-8.533zm253.5-244.967a8.523 8.523 0 0 0-12.066 0l-11.889 11.889C475.498 118.423 376.395 25.602 256.002 25.602a8.536 8.536 0 0 0-8.533 8.533 8.536 8.536 0 0 0 8.533 8.533c110.309 0 201.332 84.157 212.237 191.638l-9.938-9.938a8.523 8.523 0 0 0-12.066 0 8.523 8.523 0 0 0 0 12.066l25.6 25.6c.199.199.408.387.625.565.096.079.198.148.297.222.124.093.246.189.375.276.116.078.238.145.357.217.12.072.237.147.36.213.121.065.246.119.369.178.129.061.255.125.388.18.12.05.242.089.364.133.141.051.28.105.424.149.121.037.245.063.367.094.147.037.292.078.442.108.144.029.289.045.434.066.13.019.259.044.391.057a8.442 8.442 0 0 0 1.682 0c.132-.013.261-.038.391-.057.144-.021.289-.038.433-.066.15-.03.296-.071.443-.108.122-.031.245-.057.366-.094.144-.044.284-.098.425-.149.121-.044.244-.084.363-.133.132-.055.259-.119.388-.18.123-.059.248-.113.369-.178.123-.066.24-.141.36-.213.119-.072.24-.139.357-.217.129-.086.251-.182.375-.276.099-.074.2-.143.297-.222.217-.178.427-.367.625-.565l25.6-25.6a8.523 8.523 0 0 0 0-12.065z"
        data-original="#000000" />
    </svg>
    &nbsp;&nbsp;
    <span class="text-center font-semibold tracking-wide">Update successfully</span>
    &nbsp;&nbsp;
    <svg xmlns="http://www.w3.org/2000/svg" class="w-[32px] mr-3 fill-green-500" viewBox="0 0 512 512">
      <ellipse cx="246" cy="246" rx="246" ry="246" />
      <path class="fill-white"
        d="m235.472 392.08-121.04-94.296 34.416-44.168 74.328 57.904 122.672-177.016 46.032 31.888z" />
    </svg>
  </div>
</div>

<!-- Toast error -->
<div id="toast_wrapper_error" style="display: none;"
  class="fixed inset-0 flex items-center justify-center bg-gray-800/50 z-50">
  <div
    class="w-[310px] bg-white text-center shadow-lg border-l-4 border-red-500 text-gray-800 flex items-center p-4 rounded-md">
    <svg xmlns="http://www.w3.org/2000/svg" class="spinner-6 w-10 h-10 shrink-0 animate-spin"
      viewBox="0 0 512.004 512.004">
      <path
        d="M256.002 93.869c-89.404 0-162.133 72.73-162.133 162.133s72.73 162.133 162.133 162.133 162.133-72.73 162.133-162.133S345.406 93.869 256.002 93.869zm0 307.2c-79.991 0-145.067-65.075-145.067-145.067s65.075-145.067 145.067-145.067 145.067 65.075 145.067 145.067-65.075 145.067-145.067 145.067z"
        data-original="#000000" />
      <path
        d="M256.002 204.802c-28.237 0-51.2 22.963-51.2 51.2s22.963 51.2 51.2 51.2 51.2-22.963 51.2-51.2-22.963-51.2-51.2-51.2zm0 85.333c-18.825 0-34.133-15.309-34.133-34.133s15.309-34.133 34.133-34.133c18.825 0 34.133 15.309 34.133 34.133s-15.308 34.133-34.133 34.133zm0 179.201c-110.309 0-201.332-84.157-212.237-191.638l9.938 9.938c1.664 1.664 3.849 2.5 6.033 2.5s4.369-.836 6.033-2.5a8.525 8.525 0 0 0 0-12.066l-25.6-25.6a8.813 8.813 0 0 0-.625-.566c-.107-.088-.22-.165-.33-.247-.112-.083-.221-.171-.338-.248-.137-.092-.28-.173-.421-.256-.097-.057-.191-.118-.291-.172-.152-.081-.307-.151-.463-.223-.096-.045-.19-.093-.289-.134-.162-.067-.327-.123-.492-.18-.097-.034-.193-.072-.292-.102a8.602 8.602 0 0 0-.547-.141c-.087-.02-.172-.046-.26-.064a8.26 8.26 0 0 0-.714-.109c-.037-.004-.073-.012-.11-.016a8.592 8.592 0 0 0-1.727 0c-.037.004-.073.012-.11.016a8.602 8.602 0 0 0-.714.109c-.088.018-.173.043-.26.064-.183.043-.366.086-.546.141-.099.03-.195.069-.292.102-.165.057-.33.113-.492.18-.098.041-.191.089-.287.134-.156.072-.312.142-.464.224-.1.053-.194.115-.291.172-.141.083-.283.164-.421.256-.116.077-.224.164-.336.247-.111.083-.224.16-.332.249a8.346 8.346 0 0 0-.624.565l-25.6 25.6a8.525 8.525 0 0 0 0 12.066 8.523 8.523 0 0 0 12.066 0l11.889-11.889C36.507 393.581 135.61 486.402 256.002 486.402c4.71 0 8.533-3.823 8.533-8.533s-3.822-8.533-8.533-8.533zm253.5-244.967a8.523 8.523 0 0 0-12.066 0l-11.889 11.889C475.498 118.423 376.395 25.602 256.002 25.602a8.536 8.536 0 0 0-8.533 8.533 8.536 8.536 0 0 0 8.533 8.533c110.309 0 201.332 84.157 212.237 191.638l-9.938-9.938a8.523 8.523 0 0 0-12.066 0 8.523 8.523 0 0 0 0 12.066l25.6 25.6c.199.199.408.387.625.565.096.079.198.148.297.222.124.093.246.189.375.276.116.078.238.145.357.217.12.072.237.147.36.213.121.065.246.119.369.178.129.061.255.125.388.18.12.05.242.089.364.133.141.051.28.105.424.149.121.037.245.063.367.094.147.037.292.078.442.108.144.029.289.045.434.066.13.019.259.044.391.057a8.442 8.442 0 0 0 1.682 0c.132-.013.261-.038.391-.057.144-.021.289-.038.433-.066.15-.03.296-.071.443-.108.122-.031.245-.057.366-.094.144-.044.284-.098.425-.149.121-.044.244-.084.363-.133.132-.055.259-.119.388-.18.123-.059.248-.113.369-.178.123-.066.24-.141.36-.213.119-.072.24-.139.357-.217.129-.086.251-.182.375-.276.099-.074.2-.143.297-.222.217-.178.427-.367.625-.565l25.6-25.6a8.523 8.523 0 0 0 0-12.065z"
        data-original="#000000" />
    </svg>
    &nbsp;&nbsp;
    <span class="text-center font-semibold tracking-wide">Failure update the user information!!</span>
    &nbsp;&nbsp;
    <svg xmlns="http://www.w3.org/2000/svg" class="w-[32px] shrink-0 fill-red-500 inline mr-3" viewBox="0 0 32 32">
      <path
        d="M16 1a15 15 0 1 0 15 15A15 15 0 0 0 16 1zm6.36 20L21 22.36l-5-4.95-4.95 4.95L9.64 21l4.95-5-4.95-4.95 1.41-1.41L16 14.59l5-4.95 1.41 1.41-5 4.95z"
        data-original="#ea2d3f" />
    </svg>
  </div>
</div>
<!-- end toasts -->


{{!-- modal --}}
<div style="display: none;" id="modalUpdateUser"
  class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]">
  <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-8 relative">
    <div class="flex items-center">
      <h3 class="text-blue-600 text-xl font-bold flex-1">CREATE NEW QUIZ</h3>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-3 ml-2 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500"
        viewBox="0 0 320.591 320.591" onclick="closeModalUpdate();">
        <path
          d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
          data-original="#000000"></path>
        <path
          d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
          data-original="#000000"></path>
      </svg>
    </div>

    <form class="space-y-4 mt-8">
      <div>
        <label class="text-gray-800 text-sm mb-2 block">Course Name</label>
        <select id="courseLists"></select>
      </div>
      <div>
        <labe class="text-gray-800 text-sm mb-2 block">Quiz Title</labe>
        <input type="text" id="quizTitle" placeholder="Enter title"
          class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg" />
      </div>

      <div>
        <label class="text-gray-800 text-sm mb-2 block">Description</label>
        <input id="quizdescription" placeholder="Enter description"
          class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
          required />
      </div>

      <div class="flex flex-col space-y-4">
        <!-- Date Time Picker Label -->
        <label for="datetime" class="text-sm font-semibold text-gray-700">Select Start Date and Time</label>

        <!-- Date Time Picker Input -->
        <input type="datetime-local" id="start_time" name="datetime"
          class="p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
          required />
      </div>
      <div class="flex flex-col space-y-4">
        <!-- Date Time Picker Label -->
        <label for="end_time" class="text-sm font-semibold text-gray-700">Select End Date and Time</label>

        <!-- Date Time Picker Input -->
        <input type="datetime-local" id="end_time" name="end_time"
          class="p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-indigo-500 focus:outline-none"
          required />
      </div>

      <div>
        <label class="text-gray-800 text-sm mb-2 block">Duration</label>
        <input type="number" id="totaltime" placeholder="Enter title"
          class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg" />
      </div>
      <div>
        <label class="text-gray-800 text-sm mb-2 block">Total Point</label>
        <input type="number" id="totalpoint" placeholder="Enter title"
          class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg" />
      </div>
      <div>
        <labe class="text-gray-800 text-sm mb-2 block">Published Time</labe>
        <select id="published">
          <option value="1">
            Now
          </option>
          <option value="0">
            Later
          </option>
        </select>
      </div>

      <div class="flex justify-end gap-4 !mt-8">
        <button type="button" onclick="closeModalUpdate()"
          class="px-6 py-3 rounded-lg text-gray-800 text-sm border-none outline-none tracking-wide bg-gray-200 hover:bg-gray-300">Cancel</button>
        <button type="button" onclick="CallBackendMakequiz()"
          class="px-6 py-3 rounded-lg text-white text-sm border-none outline-none tracking-wide bg-blue-600 hover:bg-blue-700">Create</button>
      </div>
    </form>
  </div>
</div>

{{!-- delete modal --}}
<div id="modal_delete" style="display: none;"
  class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]">
  <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-6 relative">
    <svg xmlns="http://www.w3.org/2000/svg"
      class="w-3.5 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500 float-right" viewBox="0 0 320.591 320.591">
      <path
        d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
        data-original="#000000"></path>
      <path
        d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
        data-original="#000000"></path>
    </svg>

    <div class="my-4 text-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-14 fill-red-500 inline" viewBox="0 0 24 24">
        <path
          d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
          data-original="#000000" />
        <path d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
          data-original="#000000" />
      </svg>
      <h4 class="text-gray-800 text-base font-semibold mt-4">Are you sure you want to delete it?</h4>

      <div class="text-center space-x-4 mt-8">
        <input type="hidden" id="userfordeleted">
        <button type="button" onclick="closeModalDelete()"
          class="px-4 py-2 rounded-lg text-gray-800 text-sm bg-gray-200 hover:bg-gray-300 active:bg-gray-200">Cancel</button>
        <button type="button" onclick="CallBackEndToDeleteInfo()"
          class="px-4 py-2 rounded-lg text-white text-sm bg-red-600 hover:bg-red-700 active:bg-red-600">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- end main body -->
<!-- Include jQuery UI -->
<script src="/js/quiz.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>